* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: rgba(0, 0, 0, 0.247);
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: monospace;
    padding: 1em;
    align-items: center;
}

#weather {
    font-size: 1rem;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

main {
    background-color: rgba(0, 0, 0, 0.247);
    padding: 2em;
    display: flex;
    gap: 1em;
    justify-content: center;
}

#crypto {
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 1rem;
}

#time,
#date, main p {
    font-size: 5rem;
    color: white;
    font-family: sans-serif;
}

.name {
    color: white;
    font-size: 1.2rem;
    font-family: monospace;
    width: fit-content;
    padding: .5em;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.247);
}

.currentprice {
    font-weight: bold;
    font-size: 1.1rem;
}

.priceup {
    color: rgb(1, 197, 1);
    font-weight: bold;
    font-size: 1.1rem;
}

.pricedown {
    color: red;
    font-weight: bold;
    font-size: 1.1rem;
}